<ThemeProvider Theme="@_theme">
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</ThemeProvider>

@code{

    ///<summary>
    /// Custom theme / color palette for the wikia
    /// </summary> 
    private Theme _theme = new()
    {
        ColorOptions = new ThemeColorOptions
        {
            Primary = "#AA53C6",
            Secondary = "#7053C6"
        }
    };

}