@page "/trainers"

@using PokeWikia.Utils.Models
@using PokeApiNet

@inject HttpClient Http

<PageTitle>Trainers</PageTitle>

<h1>Trainers</h1>

@if (_trainers.Count == 0)
{
    <h5>Loading random trainers...</h5>
}
else
{
    <DataGrid @ref="_trainerDataGrid"
              TItem="PokemonTrainer"
              Data="_trainers"
              DetailRowStartsVisible="false"
              ShowPager>
        <DataGridColumns>
            <DataGridCommandColumn/>
            <DataGridColumn Field="@nameof(PokemonTrainer.Name)" Caption="NOMBRE"/>
            <DataGridColumn Field="@nameof(PokemonTrainer.TrainerType)" Caption="TIPO ENTRENADOR"/>
            <DataGridColumn Field="@nameof(PokemonTrainer.Sprite)" Caption="IMG">
                <DisplayTemplate>
                    @{
                        var img = (context as PokemonTrainer).Sprite;
                        <img alt="trainer img" src="@img"/>
                    }
                </DisplayTemplate>
            </DataGridColumn>
        </DataGridColumns>
        <DetailRowTemplate>
            @{
                var pokemons = context.Team;
                <DataGrid @ref="_pokemonDataGrid"
                          TItem="Pokemon"
                          Data="pokemons"
                          Sortable="false"
                          ShowCaptions="true">
                    <DataGridCommandColumn/>
                    <DataGridColumn Field="@nameof(Pokemon.Name)" Caption="Nombre"/>
                    <DataGridColumn Field="@nameof(Pokemon.Id)" Caption="IMG">
                        <DisplayTemplate Context="pokeContext">
                            @{
                                var img = (pokeContext as Pokemon).Sprites.FrontDefault;
                                <img alt="pokemon img" src="@img"/>
                            }
                        </DisplayTemplate>
                    </DataGridColumn>
                </DataGrid>
            }
        </DetailRowTemplate>
    </DataGrid>
}

@code {
    DataGrid<PokemonTrainer> _trainerDataGrid = new();
    DataGrid<Pokemon> _pokemonDataGrid = new();

    PokeApiClient _pokeApiClient = new();

    List<PokemonTrainer> _trainers = new();

    protected override async Task OnInitializedAsync()
    {
        var text = await Http.GetStringAsync("sample-data/sample-essentials-trainers.txt");

        var trainers = text.Split("#-------------------------------");

        List<Pokemon> team = new();

        foreach (var t in trainers)
        {
            if (string.IsNullOrWhiteSpace(t)) break;

            var lines = t.Split(Environment.NewLine);

            var pokes = lines.Where(l => l.StartsWith("Pokemon"));
            foreach (var pokeLine in pokes)
            {
                var pokeName = pokeLine.Split('=')[1].Split(',')[0].Trim();
                team.Add(await _pokeApiClient.GetResourceAsync<Pokemon>(pokeName));
            }

            var line = lines.First(l => l.StartsWith("["));
            var trainerLine = line.Substring(1, line.Length - 3).Split(',');

            _trainers.Add(new PokemonTrainer
            {
                Name = trainerLine[1],
                TrainerType = Enum.Parse<TrainerTypes>(trainerLine[0]),
                Team = team
            });

            team = new List<Pokemon>();
        }
    }

}